In [3]:
import nltk
# from nltk.corpus import reuters
from nltk import bigrams, trigrams
from collections import Counter, defaultdict

import pandas as pd
import numpy as np

In [4]:
# Create a placeholder for model
model = defaultdict(lambda: defaultdict(lambda: 0))

In [5]:
df= pd.read_csv('EGYPT_DICTIONARY (1).csv',names=['word','x','y'])
df.head()

            word  x                                        y
0             G1  A  Glottal stop heard in German words (ah)
1            M17  i                                       ey
2  M17-M17 or Z4  y                                      yeh
3            D36  a                                       ah
4            G43  w                                       ou

In [6]:
df.dropna(inplace=True)

In [7]:
df['word'] = df['word'].str.replace(' ', '')
df.head(3)

          word  x                                        y
0           G1  A  Glottal stop heard in German words (ah)
1          M17  i                                       ey
2  M17-M17orZ4  y                                      yeh

In [8]:
words=df['word']

In [9]:
def tokanize_sent(words):
    tok_words=[]
    for word in words:
      # print(word)
        if 'or' in word:
            orSplt=word.split('or')
            for os in orSplt:
                tok_words.append(word.split('-'))
        elif '-' in word:
            tok_words.append(word.split('-'))
        else:
            tok_words.append(word)
    return tok_words

In [10]:
def train_model(model,sentences,n=2):
    # Count frequency of co-occurance
    if n==3:
        for sentence in sentences:
            for w1, w2, w3 in trigrams(sentence, pad_right=True, pad_left=True):
                model[(w1, w2)][w3] += 1
        # Let's transform the counts to probabilities
        for w1_w2 in model:
            total_count = float(sum(model[w1_w2].values()))
            for w3 in model[w1_w2]:
                model[w1_w2][w3] /= total_count
    elif n==2:
        #bigram
        for sentence in sentences:
            for w1, w2 in bigrams(sentence, pad_right=True, pad_left=True):
                model[(w1)][w2] += 1
        for w1_w2 in model:
            total_count = float(sum(model[w1_w2].values()))
            for w3 in model[w1_w2]:
                model[w1_w2][w3] /= total_count
    return model

In [33]:
def lm_next(model,prev):
    pred = dict( eval('model'+ str(prev)))
    next_scores = sorted(pred.items(), key=lambda item: item[1],reverse=True)
    out = dict(next_scores)
    if len(list(out.keys()))==0:
        out ={'None':0}
    return out

In [19]:
sentences = tokanize_sent(words)
model = train_model(model,sentences,n=3)

In [20]:
# model

In [34]:
prev=['X1', 'M40'] 
prediction=lm_next(model,prev)
prediction

{'None': 0}

# saving model

In [26]:
# import dill as pickle

# with open("language_model.pkl", "wb") as f:
#     pickle.dump(model,f)

In [ ]:
# class n_gram_model:
#     # Class attribute
#     species = "Canis familiaris"
#     model = defaultdict(lambda: defaultdict(lambda: 0))

#     def __init__(self,n):
#         self.n = n
# #         self.age = age
#     def predict_next3(self,prev):
#     pred = dict(model[prev])
#     next3 = sorted(pred.items(), key=lambda item: item[1],reverse=True)[:3]
#     return next3
    
#     def train_model(self,model,sentences,n=2):
#     # Count frequency of co-occurance
#     if self.n==3:
#         for sentence in sentences:
#             for w1, w2, w3 in trigrams(sentence, pad_right=True, pad_left=True):
#                 model[(w1, w2)][w3] += 1
#         # Let's transform the counts to probabilities
#         for w1_w2 in model:
#             total_count = float(sum(model[w1_w2].values()))
#             for w3 in model[w1_w2]:
#                 model[w1_w2][w3] /= total_count
#     elif n==2:
#         #bigram
#         for sentence in sentences:
#             for w1, w2 in bigrams(sentence, pad_right=True, pad_left=True):
#                 model[(w1)][w2] += 1
#         for w1_w2 in model:
#             total_count = float(sum(model[w1_w2].values()))
#             for w3 in model[w1_w2]:
#                 model[w1_w2][w3] /= total_count
#     return model